<mat-card class="batch">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span (click)="expansionPanel.toggle()" fxFlex>Criteria</span>
    <button mat-icon-button (click)="clearTable()" [disabled]="criteria.length===0"><mat-icon>delete_outline</mat-icon></button>
  </mat-card-title>
  <mat-card-content>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle [expanded]="true">
      <mat-expansion-panel-header style="position: absolute; right: 0px; top: 0px;"></mat-expansion-panel-header>
      <mat-table [dataSource]="criteria">
        <ng-container matColumnDef="present">
          <mat-header-cell *matHeaderCellDef>Present</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.present === true ? 'Present' : 'Not Present'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lang">
          <mat-header-cell *matHeaderCellDef>Language</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lang === 'sv' ? 'Swedish' : 'English'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type === 'FSN' ? 'FSN' : element.type === 'SYNONYM' ? 'SYN' : '-'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="accept">
          <mat-header-cell *matHeaderCellDef>Accept.</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.accept === 'PREFERRED' ? 'PT' : element.accept === 'ACCEPTABLE' ? 'ACCEPT' : '-'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="regexp">
          <mat-header-cell *matHeaderCellDef>Regular expression</mat-header-cell>
          <mat-cell *matCellDef="let element" style="word-wrap: word-break;"> {{element.regexp}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button (click)="copy(i)"><mat-icon>content_copy</mat-icon></button>
            <button mat-icon-button (click)="remove(i)"><mat-icon>clear</mat-icon></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <br/>
      <form [formGroup]="criteriaForm">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.3em">

          <mat-form-field fxFlex="5rem">
            <select matNativeControl required formControlName="present">
              <option [ngValue]="true">Present</option>
              <option [ngValue]="false">Not present</option>
            </select>
          </mat-form-field>
          <mat-form-field fxFlex="5rem">
            <mat-label>Language</mat-label>
            <select matNativeControl required formControlName="lang">
              <option value="sv">Swedish</option>
              <option value="en">English</option>
            </select>
          </mat-form-field>
          <mat-form-field fxFlex="3rem">
            <mat-label>Type</mat-label>
            <select matNativeControl formControlName="type">
              <option value="">-</option>
              <option value="FSN">FSN</option>
              <option value="SYNONYM">SYN</option>
            </select>
          </mat-form-field>
          <mat-form-field fxFlex="3rem">
            <mat-label>Accept.</mat-label>
            <select matNativeControl formControlName="accept">
              <option value="">-</option>
              <option value="PREFERRED">PT</option>
              <option value="ACCEPTABLE">ACCEPT</option>
            </select>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Regular expression</mat-label>
            <input matInput type="text" formControlName="regexp">
            <mat-error>Regular expression required</mat-error>
          </mat-form-field>
          <div fxFlex="5rem">
            <button fxFlex="nogrow" mat-icon-button (click)="add()" [disabled]="criteriaForm.invalid"><mat-icon>add_circle_outline</mat-icon></button>
            <button fxFlex="nogrow" mat-icon-button (click)="clearForm()" [disabled]="criteriaForm.pristine"><mat-icon>clear</mat-icon></button>
          </div>
          <div *ngIf="criteriaForm.hasError('duplicateEntry')" fxFlex="100%" class="error">
            Criteria already exists
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
