<mat-card class="batch">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span (click)="expansionPanel.toggle()" fxFlex>Criteria</span>
    <button mat-icon-button (click)="clearTable()" [disabled]="criteria.length===0"><mat-icon>delete_outline</mat-icon></button>
  </mat-card-title>
  <mat-card-content>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle [expanded]="true">
      <mat-expansion-panel-header style="position: absolute; right: 0px; top: 0px;"></mat-expansion-panel-header>
      <mat-table [dataSource]="criteria">
        <ng-container matColumnDef="present">
          <mat-header-cell *matHeaderCellDef>Present</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.present === true ? 'Present' : 'Not present'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lang">
          <mat-header-cell *matHeaderCellDef>Language</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lang === 'sv' ? 'Swedish' : 'English'}} </mat-cell>
        </ng-container>console.log(typeof v.present);

        <ng-container matColumnDef="regexp">
          <mat-header-cell *matHeaderCellDef>Regular expression</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.regexp}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index" style="display:flex !important; justify-content:flex-end!important;">
            <button mat-icon-button (click)="remove(i)"><mat-icon>clear</mat-icon></button>
            <button mat-icon-button (click)="copy(i)"><mat-icon>content_copy</mat-icon></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <br/>
        <form [formGroup]="criteriaForm">
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.3em">

          <mat-form-field fxFlex="5em">
            <select matNativeControl required formControlName="present">
              <option value="true">Present</option>
              <option value="false">Not present</option>
            </select>
          </mat-form-field>
          <mat-form-field fxFlex="5em">
            <mat-label>Language</mat-label>
            <select matNativeControl required formControlName="lang">
              <option value="sv">Swedish</option>
              <option value="en">English</option>
            </select>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Regular expression</mat-label>
            <input matInput type="text" formControlName="regexp">
            <mat-error>Regular expression required</mat-error>
          </mat-form-field>

          <button fxFlex="2em" mat-icon-button (click)="add()" [disabled]="criteriaForm.invalid"><mat-icon>add_circle_outline</mat-icon></button>
          <button fxFlex="2em" mat-icon-button (click)="clearForm()" [disabled]="criteriaForm.pristine"><mat-icon>clear</mat-icon></button>
          <div *ngIf="criteriaForm.hasError('duplicateEntry')" fxFlex="100%" class="error">
            Criteria already exists
          </div>
      </div>
        </form>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
