<mat-card class="batch">
  <mat-card-title (click)="expansionPanel.toggle()">Criteria</mat-card-title>
  <mat-card-content>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle [expanded]="true">
      <mat-expansion-panel-header style="position: absolute; right: 0px; top: 0px;"></mat-expansion-panel-header>
      <mat-table [dataSource]="criteria">
        <ng-container matColumnDef="present">
          <mat-header-cell *matHeaderCellDef>Present</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.present === true ? 'Present' : 'Not present'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lang">
          <mat-header-cell *matHeaderCellDef>Language</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lang === 'sv' ? 'Swedish' : 'English'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="regexp">
          <mat-header-cell *matHeaderCellDef>Regular expression</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.regexp}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button (click)="remove(i)"><mat-icon>clear</mat-icon></button>
            <button mat-icon-button (click)="copy(i)"><mat-icon>content_copy</mat-icon></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <!-- <div *ngFor="let c of criteria; index as i;" fxLayout="row">
          <div fxFlex="15">{{c.present ? 'Present' : 'Not present'}}</div>
          <div fxFlex="15">{{c.lang === 'sv' ? 'Swedish' : 'English'}}</div>
          <div fxFlex="100">{{c.regexp}}</div>
          <button mat-icon-button (click)="remove(i)" fxFlex="10"><mat-icon>clear</mat-icon></button>
          <button mat-icon-button (click)="copy(i)" fxFlex="10"><mat-icon>content_copy</mat-icon></button>
        </div> -->
      </mat-table>
      <br/>
      <div fxLayout="row wrap" fxLayoutGap="5">
        <form [formGroup]="criteriaForm">

          <mat-form-field fxFlex="15">
            <select matNativeControl required formControlName="present">
              <option value="true">Present</option>
              <option value="false">Not present</option>
            </select>
          </mat-form-field>
          <mat-form-field fxFlex="15">
            <mat-label>Language</mat-label>
            <select matNativeControl required formControlName="lang">
              <option value="sv">Swedish</option>
              <option value="en">English</option>
            </select>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>Regular expression</mat-label>
            <input matInput type="text" formControlName="regexp">
          </mat-form-field>

          <button mat-icon-button (click)="add()"><mat-icon>add_circle_outline</mat-icon></button>
          <button mat-icon-button (click)="clearForm()"><mat-icon>clear</mat-icon></button>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
