<mat-card class="batch">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span (click)="expansionPanel.toggle()" fxFlex>Batch Settings</span>
    <button mat-icon-button (click)="clear()" [disabled]="batchSettingsForm.pristine"><mat-icon>delete_outline</mat-icon></button>
  </mat-card-title>
  <mat-card-content>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle [expanded]="true">
    <mat-expansion-panel-header style="position: absolute; right: 0px; top: 0px;"></mat-expansion-panel-header>
    <form [formGroup]="batchSettingsForm">
      <div fxLayout="row wrap" fxFlexFill fxLayoutGap="0.3em">
        <mat-form-field fxFlex="100%">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Type</mat-label>
          <select matNativeControl required formControlName="type">
            <option value="newDescSyn">New Descriptions, Acceptable Synonyms</option>
            <option value="replaceDesc">Replace Descriptions, Keep Acceptability</option>
            <option value="changeDesc">New PT, Existing Description Synonym</option>
          </select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Inactivation reason</mat-label>
          <select matNativeControl required formControlName="inactivationReason">
            <option></option>
            <option>Non-conformance to editorial policy</option>
            <option>Erroneous</option>
          </select>
        </mat-form-field>
        <mat-form-field fxFlex="100%">
          <mat-label>Term Filter</mat-label>
          <input matInput type="text" formControlName="term">
        </mat-form-field>
        <mat-form-field fxFlex="100%">
          <mat-label>Expression</mat-label>
          <textarea matInput type="text" formControlName="ecl"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-expansion-panel>
  </mat-card-content>
</mat-card>

